$bg-cream: #f2ebe3;
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

/* 清除網頁預設值 clean fit*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
big,
cite,
code,
em,
img,
ol,
ul,
li,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: "Montserrat", Fraunces, roboto, sans-serif;
  background-color: $bg-cream;
}
